<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
      <h2 id="author"></h2>
      <h3 id="text"></h3>
    <script>
            
      let realData = "";
      let rnum = Math.floor(Math.random() * 100);
      console.log(rnum);
      const getQuotes = async () => {
        const api = "https://type.fit/api/quotes";
        try {
          let data = await fetch(api);
          // console.log(data);
          let realData = await data.json();
          console.log(realData[rnum].text);
        //   console.log(realData[96].text);
          document.getElementById('author').innerHTML= realData[rnum].author;
          document.getElementById('text').innerHTML= realData[rnum].text;
        } catch (error) {
          console.log(error);
        }
      };
      getQuotes();
    </script>
  </body>
</html>
